# Core dependencies
pyspark==3.5.6
findspark
decouple
kafka-python
delta-spark

# For MongoDB support
pymongo

# For Delta Lake support
delta-spark

# For Twitter API and Kafka
tweepy
kafka-python
python-dotenv

# For emotion analysis and NLP
textblob
vaderSentiment
nltk
numpy
pandas

# For real-time dashboard
dash
plotly
flask
flask-socketio

# For data analysis
scikit-learn
matplotlib
seaborn